

.contact-icons{
    display: flex;
    justify-content: space-evenly;
}

.contact-icon{
    color: white;
    transition: all 0.3s ease-out;
}

.contact-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}

.contact-txt-B, .contact-txt-A{
    transition: all 0.3s ease-out;
}

.contact-link:hover .contact-icon{
    transform: translateY(-15px); 
}

.contact-link:hover .contact-txt-A{
    color: #04b0ee ; 
}

.contact-link:hover .contact-txt-B{
    color: #3e1291 ; 
}