.NavbarUl{
    display: flex;
    position: fixed;
    background-color: #333;
    overflow: hidden;
    justify-content: space-between;
    width: 100vw; 
    z-index: 10;
    align-items: center;
    align-content: centers;
}

.NavbarLi{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 1s;
}

.NavbarLi:hover{
    text-decoration: underline;
    color: white;
}

.view-btn{
    border-radius: 40px;
}

.btns{
    display: flex;
    margin-right: 2rem;
}