:root {
/*   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html{
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.section{
  min-height: 100vh;
}

.hide{
  display: none;
}

.show{
  display: block;
}

#appBody{
  transition: all 0.15s;
}

@media only screen and (max-width:412px){

  .section{
    min-height: 70vh;
  }
  
  #nav-activate-btn{
    display: block;
  }

  .NavbarUl{
    justify-content: center;
    align-items: center;
  }

  .links{
    display: none;
  }

  .NavbarLi{
    font-size: 40px;
  }

  .btns{
    margin-left: 0.3rem;
    margin-top: 1rem;
  }

  .switch{
    margin-bottom: 1rem;
  }

  .header-h1{
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  .about-me-zone{
    display: block;
    padding: 0 5rem 1rem 4.5rem;

  }

  .about-me-picture{
    padding-left: 0;
    margin-top: 2rem;
  }

  .about-me-img{
    width: 275px;
  }

  .tech-icons-zone{
    display: block;
  }

  .tech-info{
    display: block;
    margin-bottom: 5rem;
  }

  .tech-info-choosen{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-project{
    padding: 0 2rem 0 3rem;
  }
  .projects{
    padding: 2rem 1rem 2rem 1rem;
  }

  .container{
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
    "project-zone-1 project-zone-2" 
    "project-zone-3 project-zone-4" 
    "project-zone-5 project-zone-6"
    "project-zone-7 project-zone-8";
  }

  .project-A , .project-B{
    height: 136px;
    width: 153px;
  }

  .contact-icons{
    justify-content: space-around;
  }

  .contact-txt-B, .contact-txt-A{
    font-size: 10px;
  }
}